<ul class="flex justify-end w-1/3 text-sm font-bold h-full">
    {% comment %} user은 Django의 context_processor가 자동으로 template에 추가한다 {% endcomment %}
    {% if user.is_authenticated %}
        <li class="nav_link">
            <a href="{% url "users:logout" %}">Log out</a>
        </li>
    {% else %}
        <li class="nav_link">
            <a href="{% url "users:login" %}">Log in</a>
        </li>
        <li class="nav_link">
            <a href="{% url "users:signup" %}">Sign Up</a>
        </li>
    {% endif %}
</ul>