<div class="w-1/4 mb-10 px-2">
    <a href="{% url 'rooms:detail' room.pk %}">
        <div class="rounded-lg mb-2 w-full h-72 bg-cover bg-center" style="background-image: url({{room.first_photo}});"></div>
        <div class="flex justify-between items- mb-2">
            <div>
                {% if room.host.superhost %}
                    <span class="mr-px border-2 border-black py-px px-1 rounded-md uppercase font-bold text-sm text-black">superhost</span>
                {% endif %}
                <span class="text-sm text-gray-700">{{room.formatted.location}}</span>
            </div>
            <span class="flex items-center text-sm">
                <i class="fas fa-star mr-1 text-red-500 text-xs"></i>
                <span style="margin-bottom: 2px;">{{room.total_rating}}</span>
            </span class="text-sm">
        </div>
        <span class="text-black font-normal">{{room.formatted.name}}</span>
    </a>
</div>