{% extends "base.html" %}
{% load i18n %}

{% block page_title %}

    {% blocktrans with name=room.name %}{{name}}'s Photos{% endblocktrans %}

{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="flex flex-col items-center mt-32 mx-5 mb-10 border-2 rounded-lg md:w-3/4 md:mx-auto shadow-lg">
        <h3 class="flex justify-center items-center border-b w-full h-16 text-base font-extrabold">{% trans "Room Photos" %}</h3>
        <div class="flex flex-col p-3 w-full lg:p-6">

            <div class="flex self-end w-1/3 md:w-1/4 mb-5">
                <a class="btn-link" href="{% url "rooms:add-photo" room.pk %}">{% trans "Upload Photo" %}</a>
            </div>

            {% for photo in room.photos.all %}
                <div class="flex flex-col mb-5 border-2 rounded-lg p-2 w-full shadow-lg lg:flex-row lg:justify-between">
                    <div class="flex items-center w-full lg:w-4/5">
                        <img class="mr-5 w-1/2 h-25vh lg:w-1/4 sm:w-1/3" src="{{photo.file.url}}">
                        <span class="block break-all text-xl lg:inline lg:break-normal">{{photo.caption}}</span>
                    </div>
                    <div class="flex justify-center mt-2 w-full lg:flex-col lg:mt-0 lg:w-1/5">
                        <a class="btn-link mb-0 mr-2 lg:mb-5 lg:mr-0" href="{% url 'rooms:edit-photo' room.pk photo.pk %}">{% trans "Edit" %}</a>
                        <a class="btn-link bg-red-500" href="{% url 'rooms:delete-photo' room.pk photo.pk %}">{% trans "Delete" %}</a>
                    </div>
                </div>
            {% endfor %}

            <div class="flex justify-center">
                <a class="text-gray-400 font-semibold hover:text-gray-700" href="{{room.get_absolute_url}}edit">{% trans "Back to edit room" %}</a>
            </div>

        </div>
    </div>

{% endblock content %}
