{% extends "base.html" %}

{% block page_title %}
    {{room.name}}
{% endblock page_title %}

{% block content %}

    <div class="flex container mb-20 border-2 border-gray-700 max-w-full h-75vh">
        <div class="border border-gray-500 w-1/2 h-full bg-cover bg-center" style="background-image: url({{room.get_first_photo}});"></div>
        <div class="flex flex-wrap w-1/2 h-full">
            {% for photo in room.get_four_sub_photo %}
                <div class="border border-gray-500 w-1/2 h-auto bg-cover bg-center" style="background-image: url({{photo.file.url}});"></div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}