@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.nav-link_white {
  @apply flex items-center text-white ml-4 border-white border-b-2 border-opacity-0 h-full hover:border-white;
  a {
    @apply py-9 px-4;
  }
}

.nav-link_pink {
  @apply flex items-center text-red-400 ml-4 border-white border-b-2 border-opacity-0 h-full hover:border-red-400;
  a {
    @apply py-9 px-4;
  }
}

.paginator-item {
  @apply mx-2 rounded-full w-8 h-8;
  a {
    @apply flex justify-center items-center rounded-full w-full h-full;
  }
}

.form-btn {
  @apply border px-2 py-3 w-full;
}

.btn-link {
  @apply rounded-lg py-3 w-full text-center text-lg text-white bg-red-400;
}

.input.has_error {
  input {
    @apply bg-red-200 border-gray-400 focus:border-gray-600;
  }
}

textarea {
  resize: none;
  height: 100px;
}

.border-section {
  @apply border-b border-gray-300 py-10;
}

.sm-items-unset {
  @media (min-width: 640px) {
    align-items: unset !important;
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.message {
  animation: messageFadeIn 3s ease-in-out forwards;
  &.debug {
    @apply bg-red-600;
  }
  &.info {
    @apply bg-red-400;
  }
  &.success {
    @apply bg-red-400;
  }
  &.warning {
    @apply bg-red-600;
  }
  &.error {
    @apply bg-red-600;
  }
}

@tailwind utilities;
