{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block page_title %}{% endblock page_title %} | Shigatsubnb</title>
</head>
<body class="mt-20 text-gray-700 font-light">
    {% include "partials/messages.html" %}
    <header class="container fixed inset-0 flex justify-between items-center px-20 max-w-full h-20 shadow-md bg-black" id="js-header">
        <div class="w-2/5">
            <a class="flex items-center" id="js-logo" href="{% url "core:home" %}">
                <i class="fab fa-airbnb mr-2 text-4xl text-white"></i>
                <h1 class="text-base text-white">Shigatsubnb</h1>
            </a>
        </div>
        {% block search-bar %}
            <form class="flex justify-center w-1/5" method="get" action="{% url "rooms:search" %}">
                <input class="search-box border rounded-3xl w-full text-center placeholder-gray-500 text-gray-900 shadow-md hover:shadow-lg focus:outline-none focus:ring-1 focus:ring-gray-400 px-6 py-2" type="text" placeholder="{% trans "Search by city" %}" name="city" />
            </form>
        {% endblock search-bar %}
        {% include "partials/nav.html" %}
    </header>

    {% block content %}{% endblock content %}

    {% include "partials/footer.html" %}
    <script>
        const langSelect = document.getElementById("js-lang");
        const header = document.getElementById("js-header");
        const logo = document.querySelector("#js-logo i");
        const heading = document.querySelector("#js-logo h1");
        const nav = document.querySelectorAll("#js-nav li");
        console.log(nav);

        const handleLangChange = () => {
            const selected = langSelect.value;
            fetch(`{% url 'users:switch-language' %}?lang=${selected}`).then(() => window.location.reload());
        }

        const handleHeader = () => {
            const scrollLocation = document.documentElement.scrollTop;
            if(scrollLocation > 0) {
                header.classList.add('bg-white');
                header.classList.remove('bg-black');
                logo.classList.add("text-red-400");
                logo.classList.remove("text-white");
                heading.classList.add('text-red-400');
                heading.classList.remove('text-white');
                nav.forEach((li) => {
                    li.classList.add("nav-link_pink");
                    li.classList.remove("nav-link_white");
                })
            } else {
                header.classList.add('bg-black');
                header.classList.remove('bg-white');
                logo.classList.add("text-white");
                logo.classList.remove("text-red-400");
                heading.classList.add('text-white');
                heading.classList.remove('text-red-400');
                nav.forEach((li) => {
                    li.classList.add("nav-link_white");
                    li.classList.remove("nav-link_pink");
                })
            }
        }
        langSelect.addEventListener("change", handleLangChange);
        window.addEventListener("scroll", handleHeader);
    </script>
    
</body>
</html>