{% extends "base.html" %}
{% load i18n %}

{% block page_title %}

    {% trans "Log In" %}

{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="flex flex-col items-center mt-32 mx-auto mb-10 border-2 rounded-lg xl:w-1/3 lg:w-2/5 md:w-2/5 sm:w-4/5  shadow-lg">
        <h3 class="flex justify-center items-center border-b w-full h-16 text-base font-extrabold">{% trans "Log In" %}</h3>
        <div class="p-6 w-full">
            {% include "mixins/auth/form.html" with form=form %}

            {% trans "Don't have an account? " as form_question %} 
            {% trans "Sign Up" as target_page %}
            {% include "partials/social_login.html" with form_question=form_question target_page=target_page %}

        </div>
    </div>

{% endblock content %}
